version: '3.1'

networks:
  apinet:
    driver: bridge

x-api-config: &api-config 
  environment:
    - SERVER_PORT=5000
    - SERVER_THREADS=50
    - DB_HOST=db
    - DB_PORT=5432
    - DB_DATABASE=capi
    - DB_USER=capi
    - DB_PASSWORD=rinhadegalo
  restart: always
  depends_on:
    db:
      condition: service_healthy
  expose:
    - 5000
  networks:
    - apinet
  deploy:
    resources:
      limits:
        cpus: '0.25'
        memory: '0.5GB'

services:
  api1:
    image: petersonsheff/rinhabackend2023q3capi
    hostname: api1
    <<: *api-config

  api2:
    image: petersonsheff/rinhabackend2023q3capi
    hostname: api2
    <<: *api-config
    
  nginx: # Load Balancer
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api1
      - api2
    networks:
      - apinet
    ports:
      - "9999:5000"
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: '0.5GB'

  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    restart: always
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "capi"]
      interval: 1s
      timeout: 1m
      retries: 5
      start_period: 5s
    environment:
      - POSTGRES_USER=capi
      - POSTGRES_PASSWORD=rinhadegalo
    expose:
      - 5432
    ports:
      - "5432:5432"
    networks:
      - apinet
    deploy:
      resources:
        limits:
          cpus: '0.75'
          memory: '1.5GB'